<h1>Create a new blog post</h1>
<form name="newBlogPost">
    <label>Title</label>
    <h1> {{heading}}</h1>
    <p>{{date}} | Posted by {{Name here }} | {{Position}}</p>
    <img src="smiley.gif" alt="Smiley face" height="42" width="42">
    <p>{{comment}}</p>
    <span>Read More </span>
</form>