<input type="submit" value="< All Blog Posts">

<h1> {{heading}}</h1>

<p>{{date}} | Posted by {{Name here }} | {{Position}}</p>

<img src="smiley.gif" alt="Smiley face" height="42" width="42">

<p>{{comment}}</p>